* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #d5ba94;
  min-height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  /* padding: 0 9rem; */
  justify-content: space-between;
  
}

header {
  background-color: #843951;/
  /* background-image: url(img/8.jpeg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
picture img {
  width: 40vw;
  max-width: 350px;
  margin-left: 100px;
  padding: 20px;
}
#loja {
  font-size: 2em;
}
.normal {
  display: flex;
  flex-direction: column;
}
.normal p {
  padding: 0 1em;
  font-size: 1em;
}

.normal h1,h2 {
  align-self: center;
  display: inline;
  font-size: 1em;
  padding: 0.5em;
  color: black;
  text-align: center;
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

li a {
  color: #ffe3bd;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline;
  color: white;
}

main {
  margin: auto;
  max-width: 900px;
}

section > h1 {
  font-family: Vogue;
  text-align: center;
  padding: 20px;
  font-size: 3em;
}

section > p {
  font-family: Birds;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

section.imagem {
  height: 200px;
  background-attachment: fixed;
  background-color: rgba(116, 113, 113, 0.726);
  background-image: url(img/7.jpeg);
  background-position: center center;
  background-size: cover;
}
/* .form-email {
  display: flex;
  justify-content: center;
}
form input,
form textarea,
form button {
  display: block;
  justify-content: center;
  width: 320px;
  margin-bottom: 10px;
  padding: 10px;
}
form textarea {
  border-radius: 5px;
  resize: none;
  height: 180px;
} */
/* estilo btn enviar */
/* form button {
  background-color: #843951;
  color: #fefafa;
  border-radius: 5px;
  font-family: "Birds", Poppins, sans-serif;
  font-size: 18px;
  border: none;
  cursor: pointer;
} */
/* btn Enviar */
/* form button:hover {
  background-color: #54a15f;
} */



/* Reconfiguração da largura da galeria para telas menores */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 10px;
}

.gallery-item {
  width: calc(33.333% - 20px); /* 3 colunas */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px solid #843951;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-item h5 {
  font-size: 1.2em;
  margin-top: 10px;
}

.gallery-item p {
  font-size: 1em;
}

.btn {
  background-color: rgb(39, 100, 64);
  color: #ffe3bd;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #54a15f;
  color: white;
}

.modal-dialog {
  max-width: 30%;
  width: 40%;
}

.modal-body img {
  width: 10%;
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 50px); /* 2 colunas em telas menores */
  }
}

@media (max-width: 630px) {
  .gallery-item {
    width: 80%; /* 1 coluna em telas muito pequenas */
  }
}

.rede-social img {
  width: 50px;
  height: 50px;
}

section.contato {
  display: flex;
  justify-content: center;
}

.carousel-inner img {
  width: 300px;
  height: 400px;
}

.whatsapp-icon {
  position: fixed;
  right: 20px;
  /* Distância da borda direita */
  bottom: 100px;
  /* Distância da borda inferior */
  /* z-index: 1000; Para garantir que fique acima de outros elementos */
}

.instagram-icon {
  position: fixed;
  right: 20px;
  bottom: 200px;
}

footer {
  font-family: "Birds", Poppins, sans-serif;
  background-color: #843951;
  text-align: center;
  color: #ffe3bd;
  padding: 10px;
}
